/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

body {
    color: $color;
    @include body-font-regular;
    @include fontSize(20px);
    line-height: 1.45;
    margin: 20px auto;
    max-width: 550px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    @include headline-font;
    line-height: 1;
}

h1 {
    @include fontSize(60px);
    margin-bottom: 84px;
    text-transform: capitalize;
}

        
//p:first-of-type {
    //@include fontSize(30px);
//}

//p:first-child {
    //@include fontSize(30px);
//}

h1 + p {
    @include fontSize(30px);
}
h2 {
    @include fontSize(44px);
    margin-top: 50px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

h2 + p {
    margin-top: 0;
}

h3 {
    @include fontSize(34px);
    margin-top: 34px;
    margin-bottom: 4px;
    text-transform: capitalize;
}

h3 + p {
    margin-top: 0;
}

h4 {
    @include fontSize(24px);
    margin-top: 34px;
    margin-bottom: 4px;
    text-transform: capitalize;
}

h4 + p {
    margin-top: 0;
}

i, em {
    @include body-font-italic;
}
b, strong {
    @include body-font-bold;
}

a {
    background-color: $background-color;
    border-radius: 4px;
    color: $color;
    @include body-font-italic;
    padding: 0  4px 2px 4px;
    //padding: top right bottom left;
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}

a:hover {
    background-color:lighten($background-color, 5%);
    color: lighten($color, 40%);
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}

ul {
    margin: 0 0 0 22px;
    padding: 0;
    //list-style-type: none;
}

ul li {
    //background-color: pink;
    //margin-bottom: 40px;
}



p + ul {
    margin-top: -18px;   
}